.git
.gitignore
.env
.env.*
node_modules
vendor
public/build
public/hot
storage/app
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
*.log
*.md
tests
.phpunit.cache
database/database.sqlite
